@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?-4kxbbf');
    src:url('fonts/icomoon.eot?#iefix-4kxbbf') format('embedded-opentype'),
    url('fonts/icomoon.woff?-4kxbbf') format('woff'),
    url('fonts/icomoon.ttf?-4kxbbf') format('truetype'),
    url('fonts/icomoon.svg?-4kxbbf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Maven Pro Regular'), local('MavenProRegular'), url('fonts/mavenPro.woff') format('woff');
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: #f0f0f0;
    font-family: "Maven Pro";
    font-weight: 100;
}

a {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    position: absolute;
    left: 300px; top: 0; right: 0; bottom: 0;
    height: 100%;
    overflow-y: scroll;
}

.container {
    position: relative;
    float: left;
    width: 100%;
    padding: 2rem 10%;
}

.fluid {
    width: 100%;
}

input:not([type=submit]):not([type=file]), textarea {
    position: relative;
    float: left;
    margin-bottom: 1em;
    border-radius: 3px;
    line-height: 1.5em;
    padding: .5em;
    font-size: 13pt;
    font-weight: 100;
    color: #666;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    box-shadow: none;

    transition: box-shadow .4s;
}

input:not([type=submit]):not([type=file]):focus, textarea:focus {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

input[type=button] {
    color: white !important;
    cursor: pointer;
    background-color: #666;

    transition: box-shadow 0s !important;
}

input[type=button]:hover {
    color: #eee !important;
}

input[type=button]:active {
    color: #ddd;
    background-color: #555;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

input[type=button].small {
    font-size: 10pt;
    padding: .25em .5em;
}

textarea {
    width: 100%;
    resize: vertical;
}

.field, .field label {
    position: relative;
    float: left;
    width: 100%;
}

.field {
    margin-bottom: 5px;
    padding: .5em;
    border-left: 5px solid #aaa;
    outline: none;
}

.field:hover, .field:focus, .field.focused {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: crimson;
}

.tag {
    position: relative;
    float: left;
    padding: .5em;-webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;
    margin: .5em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    font-size: 10pt;
    color: white;
    cursor: pointer;
}

.tag:hover:after {
    content: "x";
    position: absolute;
    right: -7.5px;
    top: -7.5px;
    width: 15px;
    height: 15px;
    background-color: white;
    color: #444;
    border-radius: 7.5px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.blue.tag {
    background-color: steelblue;
}

.green.tag {
    background-color: yellowgreen;
}