*:before,
*:after,
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-weight: 100;
    font-family: sans-serif;
    background-color: #fff;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
h2 {
    font-size: 30pt;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #555;
    font-weight: 500;
    margin: 0;
}
p {
    font-size: 13pt;
    color: #888;
    line-height: 1.5em;
    text-align: justify;
}
.container {
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
}
.container:after,
.block:after {
    content: " ";
    clear: both;
    display: block;
}
#cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    z-index: 0;
}
#cover .test {
    position: relative;
    top: 0;
    width: 100%;
    height: 500px;
    background: url('../res/images/cover2.jpg') center center;
    background-size: cover;
    overflow: auto;
}
#avatar {
    position: relative;
    margin: 100px auto 40px auto;
    width: 195px;
    height: 195px;
    border-radius: 100px;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.5);
    display: block;
    overflow: hidden !important;
    cursor: pointer;
    transition: .1s;
}
#avatar:hover {
    height: 200px;
    width: 200px;
    margin-bottom: 25px;
    box-shadow: 0 0 0 5px #fff;
}
.block {
    position: relative;
    width: 100%;
    padding: 50px 0;
}
[class*='px'] {
    transition: .2s;
}
.px1 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.px2 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.white {
    color: white !important;
}
.bg-white {
    background-color: white;
}
.gray {
    color: gray !important
}
.bg-gray {
    background-color: gray;
}
.center {
    text-align: center;
    display: block;
    margin: 0 auto;
}
.bold {
    font-weight: bold;
}
.wide {
    position: relative;
    float: left;
}
.right.wide {
    float: right !important;
}
.fifty {
    width: 50%;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    z-index: 1;
    transition: .4s;
    opacity: 0;
    visibility: hidden;
}
header.visible {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}
header .item {
    position: relative;
    float: left;
    height: 100%;
    color: #555;
    cursor: pointer;
    line-height: 70px;
    opacity: 1;
    visibility: visible;
    z-index: 4;
    transition: .2s;
}
header .item:not(:last-of-type) {
    margin-right: 2em;
}
header .active.item,
header .item:hover {
    color: #0088ff;
    box-shadow: inset 0 -2px #0088ff;
}
.hamburger {
    position: relative;
    float: right;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 18pt;
    color: #888;
    cursor: pointer;
    transition: .4s;
}
.hamburger:hover {
    color: #0088ff;
}
@media (max-width: 800px) {
    .wide {
        width: 100% !important;
    }
    .px2 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    header .item {
        margin-right: 1em !important;
    }
}
/* Icons */

@font-face {
    font-family: 'icomoon';
    src: url('../res/icons/icomoon.eot?wu3t91');
    src: url('../res/icons/icomoon.eot?#iefixwu3t91') format('embedded-opentype'), url('../res/icons/icomoon.woff?wu3t91') format('woff'), url('../res/icons/icomoon.ttf?wu3t91') format('truetype'), url('../res/icons/icomoon.svg?wu3t91#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-hamburger:before {
    content: "\e600";
}