@import "{wolves:bourbon}/bourbon";

* {
  &, &:before, &:after {
    box-sizing: border-box;
  }
}

html, body, #__flow-root {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

.flex {
  @include flex(1);
  @include display(flex);

  .centered {
    margin: auto;
    text-align: center;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: inline-block;
  @include user-select(none);
}

main {
  margin: 0 auto;
  max-width: 650px;
  padding: 0;
  height: 100%;
  @include display(flex);
  @include flex-direction(column);
}

.body {
  padding-bottom: 8.4375rem;
  @include flex-grow(1);

  h1 {
    font-weight: 200;
  }

  a {
    color: #a00;

    &:hover {
      text-decoration: underline;
    }
  }
}

.header {
  padding-top: 3rem;
  cursor: pointer;
  overflow: hidden;
  @include flex-shrink(1);

  .title {
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: .3em;
    margin: 0 0 .25em;
    text-align: center;
    text-indent: .3em;
    text-transform: uppercase;
  }

  .subtitle {
    color: #999;
    font-size: .875em;
    margin-bottom: 2em;
    text-align: center;
  }
}

.post-item {
  position: relative;
  padding: 1rem 0.75rem;
  border-top: 1px solid #fafafa;
  overflow: hidden;
  cursor: pointer;
  display: block;

  &:hover {
    background-color: #fafafa;
  }

  a {
    color: #a00;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &:last-of-type {
    border-bottom: 1px solid #fafafa;
  }
}

.post header, .post-item {
  h2, p {
    font-weight: 200;
    margin: 0;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    color: #aaa;
  }
}

.post-item h2 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.post {
  border-top: 1px solid #fafafa;

  header {
    padding: 1rem 0.75rem;
  }

  .body {
    padding: 0 0.75rem;

    img {
      width: 100%;
    }

    p {
      line-height: 1.45;
      font-size: 1.2rem;
      font-weight: 200;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
