::selection {
	background-color: rgba(0, 0, 0, 0.2)
}

*:before,
*:after,
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #fff;
	text-align: center;

	display: -webkit-box;
	display: -moz-box;
	display: box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	flex-direction: column;
	-ms-flex-direction: column;
}

main {
	overflow: hidden;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	box-lines: multiple;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	-ms-flex-pack: center;
	text-align: center;
}

h1 {
	margin: 2rem 0 0;
	font-size: 3em;
	font-weight: 400;
	color: #444;
}

span {
	margin-bottom: 2rem;
	font-size: 1.4em;
	font-weight: 100;
	color: #aaa;
}

h1, span {
	text-transform: uppercase;
	cursor: default;
	margin-left: auto;
	margin-right: auto;
}

a:not(.button) {
	color: #aaa;
	text-decoration: none;
}

a:not(.button):hover {
	color: rgba(103, 65, 114, 1);
}

.button {
	text-decoration: none;
	color: rgba(103, 65, 114, 1);
	padding: 1rem 1.5rem;
	font-size: 13pt;
	margin: 2rem auto 0;
	display: inline-block;
	box-shadow: inset 0 0 0 2px rgba(103, 65, 114, 0.4);
	border-radius: 30px;
	cursor: pointer;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.button:hover {
	box-shadow: inset 0 0 0 2px rgba(103, 65, 114, 1);
}

@media (max-width: 35em) {
	body {
		font-size: 80%;
	}
}
