@font-face {
	font-family: 'Questrial';
	font-style: normal;
	font-weight: 400;
	src: local('Questrial'),
		 local('Questrial-Regular'),
		 url('../resources/fonts/questrial.ttf') format('truetype');
}

::selection {
	background-color: rgba(0, 0, 0, 0.2)
}

* {
	&, &:before, &:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

html, body {
	min-height: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-color: #ddd;
	font-family: 'Questrial', sans-serif;
}

a {
	color: #333;
	text-decoration: none;
}

p {
	padding: 0;
	margin: 0;
	font-weight: 100;
	font-family: sans-serif;
	color: #666;
	font-size: 1.7em;
	text-align: justify;
	line-height: 1.7em;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: greyscale;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	margin-bottom: 1em;
}

h1 {
	font-size: 3em;
	font-weight: 400;
	color: #333;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

section {
	&:after {
		content: "";
		clear: both;
		display: block;
	}

	header {
		position: relative;
		width: 100%;
		padding: 4rem 0;
		background-color: #fff;
		display: inline-block;
		vertical-align: middle;
		font-size: 14pt;

		h1 {
			margin: 0;
		}
	}
}

main {
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
	-webkit-transform: scale(1);

	transition: -webkit-transform .5s;
}

/*============================================================================
   HERO SECTION
  ============================================================================*/
#hero {
	position: relative;
	width: 100%;
	height: 100%;
	display: table;
	overflow: hidden;
	background-color: #fff;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

	.wrap {
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		vertical-align: middle;
		display: table-cell;
	}

	h1 {
		margin-bottom: 0;
	}

	h1, span {
		width: 100%;
		text-transform: uppercase;
		display: inline-block;
	}

	span {
		font-size: 1.4em;
		font-weight: 100;
		color: #aaa;
	}
	
	a {
		position: absolute;
		top: 60%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		color: #00cdaa;
		padding: 0 2rem;
		font-size: 15pt;
		height: 60px;
		line-height: 60px;
		margin-top: 100px;
		display: inline-block;
		border: 1px solid #00cdaa;
		border-radius: 30px;
		cursor: pointer;

		transition: background-color .2s;

		&:hover {
			background-color: #00cdaa;
			color: #fff;
		}
	}
}

/*============================================================================
   PORTFOLIO SECTION
  ============================================================================*/
#portfolio {
	position: relative;
	margin-top: 1px;
	padding: 20px;
	padding-bottom: 100px;
	width: 100%;
	text-align: center;
	background-color: #fff;
	display: block;
	font-size: 0;
	letter-spacing: 0;
	word-spacing: 0;

	transition: padding .5s;

	header {
		h1 {
			min-height: 60px;
			display: inline-block;
		}

		a {
			position: absolute;
			color: #00cdaa;
			right: 1%;
			padding: 0 2rem;
			line-height: 60px;
			box-shadow: inset 0 0 0 1px #00cdaa;
			cursor: pointer;
			border-radius: 30px;

			&:hover {
				background-color: #00cdaa;
				color: #fff;
			}
		}
	}

	li {
		position: relative;
		width: calc(100% / 3 - 2%);
		margin: 0 1% 2%;
		vertical-align: middle;
		display: inline-block;
		overflow: hidden;

		img {
			width: 100%;
			cursor: pointer;
			transition: -webkit-transform .5s;

			&:hover {
				-webkit-transform: scale3d(1.25, 1.25, 1);
			}
		}
	}
}

@media (max-width: 70em) {
	#portfolio {
		padding: 1%;

		li {
			width: calc(100% / 2 - 2%);
			display: inline-block;
		}
	}
}

@media (max-width: 40em) {
	#portfolio {
		padding: 0;
		text-align: left;

		header {
			padding-left: 32px;
			padding-right: 32px;

			a {
				right: 32px;
			}
		}

		li {
			width: 100%;
			margin: 0;
			display: inline-block;
		}
	}
}

/*============================================================================
   FOOTER
  ============================================================================*/
footer {
	position: relative;
	margin-top: 1px;
	padding: 1%;
	width: 100%;
	background-color: #fff;
	text-align: center;

	h3 {
		margin: 20px;
		color: #aaa;
		font-weight: 100;

		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: greyscale;
	}
}

/*============================================================================
   CONTACT FORM
  ============================================================================*/
#contact {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transform: translate(0, -100%);
	display: table;

	transition: .5s;
}

#contact form {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#contact input, textarea {
	min-height: 40px;
	width: 100%;
	font-size: 16pt;
	max-width: 500px;
	border: 1px solid #ddd;
}

#contact.show {
	opacity: 1;
	-webkit-transform: translate(0, 0);
	background-color: rgba(255, 255, 255, .8);
	z-index: 1;
}

#contact.show + main {
	-webkit-transform: scale(0.9);
}

/*============================================================================
   MEDIA QUERIES
  ============================================================================*/
@media (max-width: 35em) {
	body {
		font-size: 80%;
	}
}