@font-face {
	font-family: 'Questrial';
	font-style: normal;
	font-weight: 400;
	src: local('Questrial'),
		 local('Questrial-Regular'),
		 url('../resources/fonts/questrial.ttf') format('truetype');
}

::selection {
	background-color: rgba(0, 0, 0, 0.2)
}

*:before,
*:after,
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Questrial', sans-serif;
}

a {
	color: #333;
	text-decoration: none;
}

p {
	padding: 0;
	margin: 0;
	font-weight: 100;
	font-family: sans-serif;
	color: #666;
	font-size: 1.7em;
	text-align: justify;
	line-height: 1.7em;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: greyscale;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	margin-bottom: 1em;
}

h1 {
	font-size: 3em;
	font-weight: 400;
	color: #333;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

section:after {
	content: "";
	clear: both;
	display: block;
}

header {
	width: 100%;
	padding: 4rem 0;
	background-color: #fff;
	display: inline-block;
	vertical-align: middle;
	font-size: 14pt;
}

header h1 {
	margin: 0;
}

/*============================================================================
   HERO SECTION
  ============================================================================*/
#hero {
	position: relative;
	width: 100%;
	height: 100%;
	display: table;
	overflow: hidden;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#hero .wrap {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

#hero h1, #hero span {
	text-transform: uppercase;
}

#hero h1 {
	margin-bottom: 0;
}

#hero span {
	font-size: 1.4em;
	font-weight: 100;
	color: #aaa;
}

/*============================================================================
   ABOUT SECTION   #272822
  ============================================================================*/
#about {
	position: relative;
	width: 100%;
	min-height: 75%;
	font-size: 0;
	text-align: center;
	background-color: #f2f2f2;
	display: table;
}

#about .image, #about .text {
	position: relative;
	min-height: 100%;
	width: 50%;
	vertical-align: middle;
	display: table-cell;
	overflow: hidden;
}

#about .image {
	min-height: 400px;
	cursor: pointer;
	background: url('../resources/images/winter.jpg') center center;
	background-size: cover;
}

#about .text {
	padding: 2rem;
}

#about .text h1 {
	font-size: 25pt;
	text-align: left;
}

#about .text p {
	font-size: 16pt;
}

@media (max-width: 70em) {
	#about .image, #about .text {
		width: 100% !important;
		display: inline-block;
	}
}
/*============================================================================
   PORTFOLIO SECTION
  ============================================================================*/
#portfolio {
	position: relative;
	width: 100%;
	text-align: center;
	background-color: #fff;
	display: block;
	font-size: 0;
	letter-spacing: 0;
	word-spacing: 0;
}

#portfolio .project {
	position: relative;
	width: calc(100% / 3);
	vertical-align: middle;
	display: inline-block;
	overflow: hidden;
	cursor: pointer;
}

#portfolio .project img {
	width: 100%;
	transition: -webkit-transform .5s;
}

#portfolio .project:hover img {
	-webkit-transform: scale3d(1.25, 1.25, 1);
}

@media (max-width: 70em) {
	#portfolio .project {
		width: 50%;
		display: inline-block;
	}
}

@media (max-width: 40em) {
	#portfolio .project {
		width: 100%;
	}
}

/*============================================================================
   CONTACT SECTION
  ============================================================================*/
#contact {
	position: relative;
	width: 100%;
	padding: 4em;
	text-align: center;
	background-color: #f2f2f2;
}

#contact form {
	width: 50%;
}

#contact input, #contact textarea {
	position: relative;
	min-height: 40px;
	max-width: 100%;
	background-color: #fff;
	padding: 1em;
	margin: 1em 0;
	border: 0;
	outline: 0;
	width: 100%;
}

textarea {
	height: 200px;
}

/*============================================================================
   MEDIA QUERIES
  ============================================================================*/
@media (max-width: 35em) {
	body {
		font-size: 80%;
	}
}