@font-face {
	font-family: 'Questrial';
	font-style: normal;
	font-weight: 400;
	src: local('Questrial'),
		 local('Questrial-Regular'),
		 url('../resources/fonts/questrial.ttf') format('truetype');
}

::selection {
	background-color: rgba(0, 0, 0, 0.2)
}

*:before,
*:after,
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Questrial', sans-serif;
}

a {
	color: #333;
	text-decoration: none;
}

p {
	padding: 0;
	margin: 0;
	font-weight: 100;
	font-family: sans-serif;
	color: #666;
	font-size: 1.8rem;
	text-align: justify;
	line-height: 1.8em;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	margin-bottom: 1em;
}

h1 {
	font-size: 3em;
	font-weight: 400;
	color: #333;
}

/*============================================================================
   HERO SECTION
  ============================================================================*/
#hero {
	position: relative;
	width: 100%;
	height: 100%;
	display: table;
	overflow: hidden;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#hero .wrap {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

#hero h1, #hero span {
	text-transform: uppercase;
}

#hero h1 {
	margin-bottom: 0;
}

#hero span {
	font-size: 1.4em;
	font-weight: 100;
	color: #aaa;
}

/*============================================================================
   ABOUT SECTION
  ============================================================================*/
#about {
	position: relative;
	width: 100%;
	padding: 4em;
	text-align: center;
	background-color: #fff;
}

#about p {
	margin: 0 auto;
	max-width: 60%;
}

/*============================================================================
   PORTFOLIO SECTION
  ============================================================================*/
#portfolio {
	position: relative;
	width: 100%;
	padding: 4em;
	text-align: center;
	background-color: #fff;
	overflow: hidden;
}

#portfolio a {
	position: relative;
	min-height: 300px;
	height: 300px;
	display: inline-block;
	width: 33%;
	display: inline-table;
	cursor: pointer;
	-webkit-transform: scale(0.9);

	transition: -webkit-transform .2s;
}

#portfolio a img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
}

#portfolio a span {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 1em;
	font-size: 20pt;
	font-weight: 100;
	display: table-cell;
	vertical-align: middle;
	opacity: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: greyscale;
	transition: .2s;
}

#portfolio a:hover {
	-webkit-transform: scale(1);
}

#portfolio a:hover span {
	opacity: 1;
}

@media (max-width: 70em) {
	#portfolio {
		padding: 4em 2em;
	}

	#portfolio a {
		width: 49%;
	}
}

@media (max-width: 40em) {
	#portfolio {
		padding: 4em 1em;
	}

	#portfolio a {
		width: 100%;
		-webkit-transform: scale(0.9) !important;
	}

	#portfolio a span {
		opacity: 1;
	}
}

/*============================================================================
   CONTACT SECTION
  ============================================================================*/
#contact {
	position: relative;
	width: 100%;
	padding: 4em;
	text-align: center;
	background-color: #f2f2f2;
}

/*============================================================================
   MEDIA QUERIES
  ============================================================================*/
@media (max-width: 35em) {
	body {
		font-size: 80%;
	}
}