@font-face {
	font-family: 'Questrial';
	font-style: normal;
	font-weight: 400;
	src: local('Questrial'),
		 local('Questrial-Regular'),
		 url('../resources/fonts/questrial.ttf') format('truetype');
}

::selection {
	background-color: rgba(0, 0, 0, 0.2)
}

*:before,
*:after,
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Questrial', sans-serif;
}

a {
	color: #333;
	text-decoration: none;
}

p {
	padding: 0;
	margin: 0;
	font-weight: 100;
	font-family: sans-serif;
	color: #666;
	font-size: 1.7em;
	text-align: justify;
	line-height: 1.7em;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: greyscale;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	margin-bottom: 1em;
}

h1 {
	font-size: 3em;
	font-weight: 400;
	color: #333;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

hr {
	margin: 0 auto;
	width: 50%;
	height: 1px;
	background-color: #ddd;
	border: 0;
}

section:after {
	content: "";
	clear: both;
	display: block;
}

section header {
	position: relative;
	width: 100%;
	padding: 4rem 0;
	background-color: #fff;
	display: inline-block;
	vertical-align: middle;
	font-size: 14pt;
}

section header h1 {
	margin: 0;
}

/*============================================================================
   HERO SECTION
  ============================================================================*/
#hero {
	position: relative;
	width: 100%;
	height: 100%;
	display: table;
	overflow: hidden;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#hero .wrap {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

#hero h1, #hero span {
	width: 100%;
	text-transform: uppercase;
	display: inline-block;
}

#hero h1 {
	margin-bottom: 0;
}

#hero span {
	font-size: 1.4em;
	font-weight: 100;
	color: #aaa;
}

#hero a {
	position: absolute;
	top: 60%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	color: #00cdaa;
	padding: 0 2rem;
	font-size: 15pt;
	height: 60px;
	line-height: 60px;
	margin-top: 100px;
	display: inline-block;
	border: 1px solid #00cdaa;
	border-radius: 30px;
	cursor: pointer;

	transition: background-color .2s;
}

#hero a:hover {
	background-color: #00cdaa;
	color: #fff;
}

/*============================================================================
   ABOUT SECTION   #272822
  ============================================================================*/
#about {
	position: relative;
	width: 100%;
	font-size: 0;
	text-align: center;
	background-color: #f2f2f2;
	display: table;
	overflow: hidden;
	display: none;
}

#about .image, #about .text {
	position: relative;
	width: 50%;
	vertical-align: middle;
	display: table-cell;
	overflow: hidden;
}

#about .image {
	min-height: 75%;
	min-height: 400px;
	cursor: pointer;
	background: url('../resources/images/winter.jpg') center center;
	background-size: cover;
}

#about .text {
	padding: 2rem;
}

#about .text h1 {
	font-size: 25pt;
	text-align: left;
}

#about .text p {
	font-size: 16pt;
}

@media (max-width: 70em) {
	#about .image {
		width: 100%;
		display: inline-block;
	}

	#about .text {
		width: 100%;
		display: inline-block;
	}
}
/*============================================================================
   PORTFOLIO SECTION
  ============================================================================*/
#portfolio {
	position: relative;
	width: 100%;
	text-align: center;
	background-color: #fff;
	display: block;
	padding: 20px;
	padding-bottom: 100px;
	font-size: 0;
	letter-spacing: 0;
	word-spacing: 0;

	transition: padding .5s;
}

#portfolio header h1 {
	min-height: 60px;
	display: inline-block;
}

#portfolio header a {
	position: absolute;
	color: #00cdaa;
	right: 20px;
	padding: 0 2rem;
	line-height: 60px;
	box-shadow: inset 0 0 0 1px #00cdaa;
	cursor: pointer;
	border-radius: 30px;
}

#portfolio header a:hover {
	background-color: #00cdaa;
	color: #fff;
}

#portfolio li {
	position: relative;
	width: calc(100% / 3 - 40px);
	margin: 0 20px 40px;
	vertical-align: middle;
	display: inline-block;
	overflow: hidden;
}

#portfolio li img {
	width: 100%;
	cursor: pointer;
	transition: -webkit-transform .5s;
}

#portfolio li img:hover {
	-webkit-transform: scale3d(1.25, 1.25, 1);
}

@media (max-width: 70em) {
	#portfolio {
		padding: 1%;
	}

	#portfolio header a {
		right: 10px;
	}

	#portfolio li {
		width: calc(100% / 2 - 2%);
		margin: 0 1% 2%;
		display: inline-block;
	}
}

@media (max-width: 40em) {
	#portfolio {
		padding: 0;
		text-align: left;
	}

	#portfolio header {
		padding-left: 32px;
		padding-right: 32px;
	}

	#portfolio header a {
		right: 32px;
	}

	#portfolio li {
		width: 100%;
		margin: 0;
		display: inline-block;
	}
}

/*============================================================================
   FOOTER
  ============================================================================*/
footer {
	position: relative;
	width: 100%;
	padding: 1%;
	background-color: #f2f2f2;
	text-align: center;
}

footer h3 {
	margin: 20px;
	color: #aaa;
	font-weight: 100;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: greyscale;
}

/*============================================================================
   MEDIA QUERIES
  ============================================================================*/
@media (max-width: 35em) {
	body {
		font-size: 80%;
	}
}