@font-face {
	font-family: 'Questrial';
	font-style: normal;
	font-weight: 400;
	src: local('Questrial'),
		 local('Questrial-Regular'),
		 url('../resources/fonts/questrial.ttf') format('truetype');
}

::selection {
	background-color: rgba(0, 0, 0, 0.2)
}

* {
	&:before, &:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}